{% extends "base.html" %}

{% block title %} Items list {% endblock %}

{% block content %}
    {{ block.super }}
    <h1>Список товаров</h1>
    <div class='items'>
        {% for item in items %}
            <div class='item'>
                <a href="/item/{{ item.id }}">
                    <p class='item_name'> {{ item.name }} </p>
                    <p> Бренд: {{ item.brand }} </p>
                    <p>  Описание: </p>
                    <p> {{ item.description }} </p>
                </a>
                <p>  id: </p>
                    <p> {{ item.id }} </p>
                    Colors = Color.objects.all()      
            </div>
        {% endfor %}
        
    </div>     
{% endblock %}